flask==3.0.0

tensorflow==2.18.0
opencv-python==4.5.5.64
mtcnn==1.0.0

librosa==0.11.0
soundfile==0.14.0

scikit-learn==1.2.2
joblib==1.5.2
numpy==1.26.4
scipy==1.15.1

torch==2.0.1
transformers==4.45.2
pillow==10.4.0

yt-dlp
